.rodape{
    display: flex;

    max-width: 1250px;
    margin: 0 auto;
    padding: 2rem;
    gap: 5rem;
    height: 35vh;
}

.footer-content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 60%;
}

.footer-content-box h3{
    font-size: 3.2rem;
    margin-bottom: 2.4rem;
    font-family: var(--font-principal);
    font-weight: 500;
}

.footer-content-box p{
    font-family: var(--font-secundaria);
    font-size: 1.8rem;
    color: var(--gray);
    line-height: 2;
}